.section {
  padding: 3rem 30px;
  flex-direction: row;
  justify-content: space-around;
}

.section > * {
  margin: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 24ch;
  max-width: 36ch;
}

.image {
  max-width: 651px !important;
  width: 100%;
}

.heading {
  font-size: 32px;
  line-height: 44px;
}

.subtitle,
.button {
  font-size: 24px;
  line-height: 32px;
}

.button {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  align-self: flex-end;
  padding: 10px 20px;
}

.button > :first-child {
  margin-right: 10px;
}

@media (max-width: 996px) {
  .section {
    padding: 1rem 30px;
    flex-direction: column;
  }

  .text {
    min-width: initial;
    max-width: initial;
  }

  .heading,
  .subtitle {
    text-align: center;
  }

  .button {
    align-self: center;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 1rem var(--ifm-spacing-horizontal);
  }
}
