.wrapper {
    height: 150px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #EEF4FD;
}

.flexItem {
    width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexItem a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

.flexItem svg {
    min-width: 49px;
    min-height: 40px;
}

.link {
    margin: 0 auto;
    font-size: 0.7rem;
    text-align: center;
}

.flexItem:hover {
    background-color: #DDE9FB;
}

.icon_windows,
.icon_mac,
.icon_debian,
.icon_fedora {}

@media (max-width: 480px) {
    .wrapper {
        height: 600px;
        width: 200px;
        margin: 0 auto;
    }

    .container {
        flex-direction: column;
    }

    .flexItem {
        width: 100%;
        height: 25%;
    }
}