.ipa {
  font: normal normal normal 90% var(--fun-safe-sans) !important;
  padding: 0.2em 0.1em;
  color: var(--ifm-color-primary-darkest);

  &::before {
    content: '[';
    margin-right: 1px;
  }

  &::after {
    content: ']';
    margin-left: 1px;
  }
}

.interactive {
  cursor: pointer;

  background-image: url(icon.svg);
  background-repeat: no-repeat;
  background-size: 0.7rem;
  background-position-x: 0.2ch;
  background-position-y: 60%;

  &::before {
    padding-left: 1.8ch;
  }
}

.audioPlaying {
  opacity: 1;
  animation: audioPlaying 500ms linear infinite alternate;
}

@keyframes audioPlaying {
  from { opacity: 1; }
  to { opacity: 0.5; }
}
