.keyboard {
  display: flex;
  flex-wrap: wrap;
  width: 309px;
  --active-key-bg: #DDE9FB;
  --active-key-fg: #506483;
  --inactive-key-bg: #F1F3F7;

  --inactive-key-bg-default: var(--inactive-key-bg, transparent);
  --active-key-bg-default: var(--active-key-bg, transparent);
  --active-key-fg-default: var(--active-key-fg, #000);

  font: 700 13px/14px sans-serif;

  border: 1px solid var(--inactive-key-bg-default);
  padding: 3px;
}

.Cyrl {
  --active-key-bg: #DED8F1;
  --active-key-fg: #3F3274;
}


.key {
  display: flex;
  width: 17px;
  height: 16px;
  justify-content: center;
  align-items: center;

  margin: 0 4px 6px 0;
  border-radius: 3px;
  text-align: center;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 10%), var(--active-key-bg-default);
  color: var(--active-key-fg-default);

  &.shift {
    width: 43px;
  }

  &.ctrl,
  &.alt {
    width: 27px;
  }

  &.inactive {
    background: #f1f3f7;
    height: 9px;

    &:first-child {
      width: 18px;
    }

    &:nth-child(14) {
      width: 17px;
    }

    &:nth-child(15) {
      width: 17px;
      height: 16px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 10%), var(--active-key-bg-default);
      color: var(--active-key-fg-default);
    }

  }
}

.pressed {
  background-color: #adcaf5;
}