.svgKeyboard {
  font-family: sans-serif;

  [data-theme='light'] & {
    --text-color-base: #444;
    --text-color-alt: #337093;
    --text-color-shift: #8E4040;
    --text-color-alt-shift: #671584;
    --text-color-service: #646464;

    --svg-fill-color: #fff;

    --key-fill-color: #fff;
    --key-fill-click-color: #e7f3ff;
  }

  [data-theme='dark'] & {
    --text-color-base: #eaebec;
    --text-color-alt: #83a2bb;
    --text-color-shift: #a0808c;
    --text-color-alt-shift: #c3b9da;
    --text-color-service: #eaebec;

    --svg-fill-color: #1a2933;

    --key-fill-color: #1a2933;
    --key-fill-click-color: #274255;
  }

  width: 718px;
  height: 274px;
  fill: none;
}

.textColorBase {
  fill: var(--text-color-base);
}

.textColorAlt {
  fill: var(--text-color-alt);
}

.textColorShift {
  fill: var(--text-color-shift);
}

.textColorAltShift {
  fill: var(--text-color-alt-shift);
}

.textColorService {
  fill: var(--text-color-service);
}

.svgBackground {
  fill: var(--svg-fill-color);
}

.keyColors {
  fill: var(--key-fill-color);
}

.rect {
  width: 41px;
  height: 41px;
  stroke: "#147CFA";
  fill: "transparent";
}

.keyText {
  font-size: 13;
  font-weight: 600;
}

.serviceKeyText {
  font-size: 10;
  font-weight: 500;
}