.root {
  padding: 3rem 2rem;
  flex-direction: row;
  justify-content: space-around;
}

.root > * {
  margin: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 24ch;
  max-width: 36ch;
}

.image {
  max-width: 651px !important;
  width: 100%;
}

.title {
  font-size: 175%;
  line-height: 1.375;
}

.subtitle {}

.cta {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  align-self: flex-end;
  font-size: var(--ifm-h3-font-size) !important; /* TODO: remove !important */
}

.cta > :first-child {
  margin-right: 1ch;
  margin-top: -2px;
}

@media (max-width: 996px) {
  .root {
    padding: 1rem 30px;
    flex-direction: column;
  }

  .content {
    min-width: initial;
    max-width: initial;
  }

  .title,
  .subtitle {
    text-align: center;
  }

  .cta {
    align-self: center;
  }
}

@media (max-width: 480px) {
  .root {
    padding: 1rem var(--ifm-spacing-horizontal);
  }
}
