.section {
  justify-content: space-around;
  padding: 3rem 2rem;
}

.image {
  max-width: 651px;
}

.container {
  display: flex;
  align-self: flex-start;
  padding: 2rem 0;

  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 32px;
  line-height: 44px;
}

.subtitle,
.button {
  font-size: 24px;
  line-height: 32px;
}

.button {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  padding: 10px 20px;
}

@media (min-width: 997px) {
  .button {
    align-self: flex-end;
  }
}

.button > :first-child {
  margin-right: 10px;
}
