.section {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.heading {
  font-size: 32px;
  line-height: 44px;
}

.subtitle {
  font-size: 18px !important;
}

.button {
  margin: 0 0 0 auto;
  display: inline-flex;
  justify-items: center;
  align-items: center;
  padding: 10px 20px;
  align-self: flex-end;
}

.divider {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.divider > * {
  margin-left: var(--ifm-spacing-horizontal);
}

.divider > :last-child {
  margin-right: var(--ifm-spacing-horizontal);
}
