/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap');

/* You can override the default Infima variables here. */
:root {
  --fun-color-primary-dark: #001B2E;
  --fun-color-primary-regular: #4C587B;
  --fun-color-primary-accent: #4C93C6;
  --fun-color-primary-light: #A1B4D1;
  --fun-color-primary-background: #DDE9FB;
  --fun-color-primary-background-contrast: #FFF;

  --ifm-color-primary: #2563c1;
  --ifm-font-family-base: 'Alegreya Sans', sans-serif;
  --ifm-font-size-base: 18px;
  --ifm-line-height-base: 1.5;
  --ifm-h1-font-size: 28px;
  --ifm-h2-font-size: 24px;
  --ifm-h3-font-size: 20px;
  --ifm-small-font-size: 15px;
  --ifm-heading-color: var(--fun-color-primary-regular);
  --ifm-navbar-link-color: var(--fun-color-primary-regular);
  --ifm-navbar-link-hover-color: var(--fun-color-primary-accent);
  --ifm-footer-background-color: var(--fun-color-primary-regular);
  --ifm-menu-color: var(--fun-color-primary-regular);
  --ifm-color-primary: var(--fun-color-primary-accent);
  --ifm-menu-link-padding-horizontal: 15px;
  --ifm-menu-color-active: var(--fun-color-primary-accent);
  --ifm-menu-color-background-hover: var(--fun-color-primary-background);
  --ifm-menu-color-background-active: rgba(236, 243, 252, 0.44);
  --ifm-toc-border-color: var(--fun-color-primary-background);
  --ifm-container-width: 1280px;
  --ifm-spacing-horizontal: 15px;
  --ifm-navbar-padding-vertical: 0;
  --ifm-navbar-height: 160px;
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgb(76, 147, 198)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>');
}

body {
  color: var(--fun-color-primary-dark);
}

:focus-visible {
  outline-color: var(--fun-color-primary-accent);
  outline-style: double;
}

.navbar {
  box-shadow: none;
  justify-content: center;
  background:
    radial-gradient(34.84% 120.6% at 51.48% 25.05%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, #DDE9FB 0%, #fff 90%, #fff0 100%);
  padding-bottom: 21px;
}

.navbar__inner {
  display: grid;;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  row-gap: 15px;
  align-items: flex-start;

  max-width: var(--ifm-container-width);
  padding: 0 30px;
}

.main-wrapper > :first-child {
  max-width: var(--ifm-container-width);
  margin: 0 auto;
}

.navbar__brand {
  grid-row: 1 / 3;
  grid-column: 1;
}

.navbar__logo {
  height: auto;
  margin: 0;
}

.navbar__items:not(.navbar__items--right) {
  display: none;
}

.navbar__items--top {
  padding-top: 10px;
  grid-row: 1;
  align-self: flex-start;
  justify-self: flex-end;
}

.navbar__items--bottom {
  grid-row: 2;
  border-bottom: 2px solid var(--fun-color-primary-background);
  justify-self: flex-end;
  align-self: flex-end;
  margin-left: 200px;
  padding-left: 2ch;
  padding-bottom: 16px;
  margin-bottom: 0;
}

.navbar__items--right {
  grid-column: 1 / 3;

  display: flex;
  justify-content: space-between;
}

.navbar__logo img {
  height: auto;
}

/* Docbar */

aside[class^=docSidebarContainer] {
  border-right-width: 2px;
}

/* */

/* Inside Auto Layout */
.navbar__link {
  text-transform: uppercase;
}

.navbar__item--locale-dropdown {
  font-size: var(--ifm-small-font-size);
  color: var(--ifm-navbar-link-hover-color);
  text-transform: none;
}

.navbar__item--cta-button {
  background-color: var(--fun-color-primary-accent);
  color: var(--fun-color-primary-background-contrast);
  font-weight: var(--ifm-font-weight-semibold);
  border-radius: 5px;
}

.navbar__item--cta-button:hover {
  background-color: var(--fun-color-primary-accent);
  color: var(--fun-color-primary-background-contrast);
}

.navbar__item--cta-button svg {
  display: none;
}

.dropdown > .navbar__link {
  border-bottom: 2px dashed;
  padding-bottom: 5px;
}

/*#region Menu */
.menu {
  font-weight: normal;
  font-size: 17px;
}

.menu__list .menu__list {
  margin-left: 30px;
}

.menu__link {
  --ifm-menu-link-sublist-icon-filter: brightness(0.30);
}

.menu__link:hover {
  font-weight: 500;
}

.menu__link--sublist {
  padding-right: 5px;
}

.menu__list-item:not(:first-child) {
  margin-top: 7px;
}

.menu__link--active {
  --ifm-menu-link-sublist-icon-filter: none;
  font-weight: 500;
}

.menu__link--active:not(.menu__link--sublist) {
}

.menu__link--sublist:after {
  background-size: 1.5rem 1.5rem;
}

/*#endregion */

/*#region Markdown */

.container > .row > .col {
  padding-left: 15px;
}

.markdown h1:first-child {
  --ifm-h1-font-size: unset;
  color: var(--fun-color-primary-accent);
  line-height: 1.286;
}

.markdown > h2 {
  --ifm-h2-font-size: unset;
  color: var(--fun-color-primary-regular);
  font-weight: normal;
  line-height: 1.33;
}

.markdown a {
  font-weight: 400;
  text-decoration: underline;
}

.anchor {
  position: relative;
}

.anchor > .hash-link {
  position: absolute;
  right: 100%;
  margin-right: 15px;
  opacity: 0.15;
}

/*#endregion */

/*#region TOC */

.table-of-contents {
  font-size: var(--ifm-small-font-size);
}

/*#endregion */

/*#region Footer */
.footer {
  font-size: var(--ifm-small-font-size);
}

.footer--dark {
  --ifm-footer-background-color: unset;
}

.footer__title {
  font-weight: var(--ifm-font-weight-semibold);
  text-transform: uppercase;
}

/*#region Social networks */

.footer__col:nth-child(3) > .footer__items {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

/* Icons */
.footer__col:nth-child(3) .footer__item {
  position: relative;
  margin-right: 20px;
}

/* Facebook */
.footer__col:nth-child(3) .footer__item:nth-child(1) {
}

/* Discord */
.footer__col:nth-child(3) .footer__item:nth-child(2) {
}

/* Youtube */
.footer__col:nth-child(3) .footer__item:nth-child(3) {
  top: -2px;
  margin-right: 15px;
}

/* Tiktok */
.footer__col:nth-child(3) .footer__item:nth-child(4) {
  margin-right: 10px;
}

/* GitHub */
.footer__col:nth-child(3) .footer__item:nth-child(5) {
}

/*#endregion */

.footer .navbar__item {
  padding-left: 0;
}

.footer .navbar__link {
  color: var(--fun-color-primary-background);
  text-transform: none;
}

.footer__item {
}

.footer__bottom {
  border-top: 2px solid var(--fun-color-primary-background);
}

.footer__copyright {
  padding-top: 10px;
}

.footer__copyright a {
  color: var(--fun-color-primary-background);
  text-decoration: underline;
}

.footer__copyright a:hover {
  color: var(--fun-color-primary-background);
}

/*#endregion */

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
